<div class="sidebar sticky-top">        
    <!-- <div class="sidebar-section">
        <h5><span>消息订阅</span></h5>
    </div> -->
    <div class="sidebar-section">
        <h5><span>广告</span></h5>
        <!-- <a target="_blank" href="htts://miji.sntree.cn">
            <img src="{{site.baseurl}}/assets/images/ad.png">
        </a> -->
        <a target="_blank" href="https://miji.sntree.cn">
            <img class="lightbox-ignore" src="https://astree.oss-cn-shanghai.aliyuncs.com/sntree/miji.webp">
        </a>
        
        <!-- <span>列表</span>  -->
         <div style="padding: 4px;">

         
            {% for ad in site.data.ads %}
            <div class="ad-item">
                <a target="_blank" href="{{ad.link}}">{{ad.alt}}</a>
            </div>
            
        {% endfor %}
        </div>
        <!-- <div class="ad-item">
            <img src="{{ ad.image }}" alt="{{ ad.title }}">
            <h6>{{ ad.title }}</h6>
            <p>{{ ad.description }}</p>
        </div> -->
    </div>
</div>